body {
	background-color: black;
}

body a {
	color: white;
}

.map.landscape {
	min-width: 640px;
	min-height: 480px;
	max-width: 100%;
	max-height: 100%;
}

.map.portrait {
	min-width: 480px;
	min-height: 640px;
	max-width: 100%;
	max-height: 100%;
}

.map.fill {
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
}

.map input[type="button"] {
	pointer-events: auto;
	border: none;
	background-color: transparent;
	color: #ccc;
	width: 24px;
	height: 24px;
	font-size: 8px;
	display: none;
}

.map div.control {
	min-width: 100px;
	min-height: 30px;
	background-color: rgba(33, 33, 33, 1);
	border: 3px solid #ccc;
}

.ol-overlay-container {
	pointer-events: none;
}
