html,
body,
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.dark button {
    background: rgba(56, 55, 55, 128);
    color: silver;
}
.dark .testmapcontainer {
  background-color: rgba(56, 55, 55, 128);
  border: 1px solid rgba(56, 55, 55, 255);
}

.testmapcontainer {
  position: relative;
  width: 15em;
  height: 15em;
  margin: 0.25em;
  padding: 0;
  display: inline-block;
}

.dark #mocha-stats em {
  color: white;
}

.dark #mocha-stats canvas {
  background-color: silver;
  border-radius: 2em;
}

.dark #mocha {
  color: white;
}

body.dark {
  background-color: black;
}

body.dark a {
  color: white;
}

.map.landscape {
  min-width: 640px;
  min-height: 480px;
  max-width: 100%;
  max-height: 100%;
}

.map.portrait {
  min-width: 480px;
  min-height: 640px;
  max-width: 100%;
  max-height: 100%;
}

.map.fill {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.map div.control {
  min-width: 100px;
  min-height: 30px;
  background-color: rgba(33, 33, 33, 1);
  border: 3px solid #ccc;
}

.ol-overlay-container {
  pointer-events: none;
}
